In [90]:
#Importar bibliotecas
import numpy as np
import pandas as pd

In [91]:
#Abrir o data frame
df = pd.read_csv('bike-sharing.csv')
df.head()

     datetime  rec_id  season  year  ...  windspeed  casual  registered  total_count
0  2011-01-01       1       1     0  ...        0.0       3          13           16
1  2011-01-01       2       1     0  ...        0.0       8          32           40
2  2011-01-01       3       1     0  ...        0.0       5          27           32
3  2011-01-01       4       1     0  ...        0.0       3          10           13
4  2011-01-01       5       1     0  ...        0.0       0           1            1

[5 rows x 17 columns]

In [92]:
df = pd.read_csv('bike-sharing.csv')
df.tail()

         datetime  rec_id  season  ...  casual  registered  total_count
17374  2012-12-31   17375       1  ...      11         108          119
17375  2012-12-31   17376       1  ...       8          81           89
17376  2012-12-31   17377       1  ...       7          83           90
17377  2012-12-31   17378       1  ...      13          48           61
17378  2012-12-31   17379       1  ...      12          37           49

[5 rows x 17 columns]

In [93]:
#Tamanho dataset
df.shape

(17379, 17)

In [94]:
#Média de velocidade do vento
df.windspeed.mean()

0.1900976063064631

In [95]:
#Média temp 
df.temp.mean()

0.4969871684216586

In [96]:
#Informações gerais do dataset
df.describe()

           rec_id        season  ...    registered   total_count
count  17379.0000  17379.000000  ...  17379.000000  17379.000000
mean    8690.0000      2.501640  ...    153.786869    189.463088
std     5017.0295      1.106918  ...    151.357286    181.387599
min        1.0000      1.000000  ...      0.000000      1.000000
25%     4345.5000      2.000000  ...     34.000000     40.000000
50%     8690.0000      3.000000  ...    115.000000    142.000000
75%    13034.5000      3.000000  ...    220.000000    281.000000
max    17379.0000      4.000000  ...    886.000000    977.000000

[8 rows x 16 columns]

In [97]:
#Tamanho dataframe year = 2011 (= 0)
df[df.year==0]

        datetime  rec_id  season  ...  casual  registered  total_count
0     2011-01-01       1       1  ...       3          13           16
1     2011-01-01       2       1  ...       8          32           40
2     2011-01-01       3       1  ...       5          27           32
3     2011-01-01       4       1  ...       3          10           13
4     2011-01-01       5       1  ...       0           1            1
...          ...     ...     ...  ...     ...         ...          ...
8640  2011-12-31    8641       1  ...      19          73           92
8641  2011-12-31    8642       1  ...       8          63           71
8642  2011-12-31    8643       1  ...       2          50           52
8643  2011-12-31    8644       1  ...       2          36           38
8644  2011-12-31    8645       1  ...       4          27           31

[8645 rows x 17 columns]

In [98]:
#Tamanho dataframe year = 2011 (= 0)
df[df.year==0].shape

(8645, 17)

In [99]:
#Tamanho dataframe year = 2012 (= 1)
df[df.year==1].shape

(8734, 17)

In [100]:
#Registros 2011
df[df.year==0].total_count.sum()

1243103

In [101]:
#Registros 2012
df[df.year==1].total_count.sum()

2049576

In [102]:
df.season.describe()

count    17379.000000
mean         2.501640
std          1.106918
min          1.000000
25%          2.000000
50%          3.000000
75%          3.000000
max          4.000000
Name: season, dtype: float64

In [108]:
df_season = df.groupby('season')
df_season.total_count.mean()

season
1    111.114569
2    208.344069
3    236.016237
4    198.868856
Name: total_count, dtype: float64

1 - inverno
2 - primavera
3 - verão
4 - outono

In [112]:
df_hour = df.groupby('hour')
df_hour.total_count.mean()

hour
0      53.898072
1      33.375691
2      22.869930
3      11.727403
4       6.352941
5      19.889819
6      76.044138
7     212.064649
8     359.011004
9     219.309491
10    173.668501
11    208.143054
12    253.315934
13    253.661180
14    240.949246
15    251.233196
16    311.983562
17    461.452055
18    425.510989
19    311.523352
20    226.030220
21    172.314560
22    131.335165
23     87.831044
Name: total_count, dtype: float64

In [118]:
df_weekday = df.groupby('weekday')
df_weekday.total_count.mean()

weekday
0    177.468825
1    183.744655
2    191.238891
3    191.130505
4    196.436665
5    196.135907
6    190.209793
Name: total_count, dtype: float64

In [140]:
df_hour_3 = df[df.weekday ==3]
df_hour_3 = df_hour_3.groupby('hour')  
df_hour_3.total_count.mean()

hour
0      34.557692
1      15.336538
2       7.813725
3       4.888889
4       4.968750
5      25.750000
6     107.807692
7     303.980769
8     488.326923
9     238.528846
10    131.894231
11    152.201923
12    193.903846
13    185.826923
14    170.548077
15    181.288462
16    272.961538
17    513.144231
18    494.029126
19    357.504854
20    256.660194
21    194.669903
22    143.689320
23     83.737864
Name: total_count, dtype: float64

In [141]:
df_hour_6 =df[df.weekday==6]
df_hour_6 = df_hour_6.groupby('hour')
df_hour_6.total_count.mean()

hour
0      94.304762
1      67.780952
2      50.495238
3      22.885714
4       7.657143
5       8.291262
6      21.000000
7      45.961905
8     114.476190
9     186.790476
10    263.723810
11    328.609524
12    375.380952
13    385.371429
14    381.333333
15    382.428571
16    366.142857
17    334.409524
18    292.048077
19    239.932692
20    180.865385
21    156.000000
22    139.663462
23    115.855769
Name: total_count, dtype: float64